.page-title {
  width: 100%;
  min-height: 15vh;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  padding: 5rem;

  h1 {
    color: white;
    font-size: 3rem;
    text-transform: capitalize;
  }
}