.cart-product-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    font-size: 1.2rem;
    opacity: 0.6;
  }

  tr,
  td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.259);
    min-height: 80px;
  }

  .cart-pr-information {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    img {
      max-width: 20%;
    }

    p {
      font-size: 14px;
      opacity: 0.6;
    }

    .cart-pr-delete {
      font-size: 1.2rem;
      opacity: 0.6;
      cursor: pointer;
    }

  }

  .cart-pr-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;

    input {
      max-width: 50px;
      border: none;
      outline: none;
    }

    button {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 50%;
      border: none;
      outline: none;
    }
  }
}

.cart-coupon-item {
  width: 100%;
  margin-top: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    padding: 10px;
    max-width: 180px;
    height: 50px;
    border: 1px solid lightgray;
    outline: none;
    margin-right: 1rem;
  }

  button {
    height: 50px;
    width: 150px;
    background: var(--primary-btn);
    color: white;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;&:hover {
        background: var(--primary-btn-hover);
      }
  }
}