@import './responsive';

.shop-page {
  width: 100%;
  min-height: 80vh;
}

.shop-product-cards {
  width: 70%;
  margin: 150px auto;
}

@include md {

  .shop-product-cards {
      width: 90%;
    }
}

@include small {
  .shop-product-cards {
    width: 90%;
  }
}