@import "./../../style/util.scss";
@import './../../style/responsive';

.nav {
  width: 100%;
  min-height: 100vh;
}

.nav-top {
  width: 100%;
  height: 70px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  span {
    font-size: 2rem;
    color: white;
    font-family: var(--logo-font);
    cursor: pointer;
  }
}

.menu {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    color: white;
    font-size: 1.3rem;

    li {
      cursor: pointer;

      a {
        color: white;
      }
    }
  }

  .cart-icon {
    font-size: 1.5rem;
  }
}

.nav-bottom {
  position: absolute;
  left: 10%;
  bottom: 20%;

  h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    animation: left-right 500ms linear;
  }

  @include left-right;
}

.nav-bottom-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: white;
  margin-top: 3rem;

  animation: hide-seek 500ms linear;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.4rem;
  }

  .hero-icon {
    font-size: 2.5rem;
    font-weight: lighter;
    opacity: 0.8;
  }
}

@include hide-seek;

//responsive design for small devices
@include small {


  .logo {
    span {
      font-size: 1.2rem;
      color: white;
      font-family: var(--logo-font);
      cursor: pointer;
    }
  }


  .nav-top {
    width: 100%;
    height: 70px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
  }


  .menu {
    ul {
      font-size: 13px;
      gap: 0.8rem;

      li {
        cursor: pointer;
      }
    }
  }

  nav-bottom-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6;
    color: white;
    margin-top: 3rem;

    animation: hide-seek 500ms linear;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      font-size: 1rem;
    }

    .hero-icon {
      font-size: 2rem;
      font-weight: lighter;
      opacity: 0.8;
    }
  }
}